<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Golden Corona & Momoi Fishing/title>
    <link href="assets/css/source.css" rel="stylesheet" media="all">
    <link href="assets/css/app.css" rel="stylesheet" media="all">
</head>
<body ng-app="myApp">
<div ng-controller="mainController">
    <div>
        Loading... {{mainTest}}
    </div>
    <div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                <!-- Left aligned menu below button -->
                <button id="demo-menu-lower-left"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                    for="demo-menu-lower-left">
                    <li class="mdl-menu__item">Some Action</li>
                    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Another Action</li>
                    <li disabled class="mdl-menu__item">Disabled Action</li>
                    <li class="mdl-menu__item">Yet Another Action</li>
                </ul>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="demo-menu-lower-right">
                    <li class="mdl-menu__item">Some Action</li>
                    <li class="mdl-menu__item">Another Action</li>
                    <li disabled class="mdl-menu__item">Disabled Action</li>
                    <li class="mdl-menu__item">Yet Another Action</li>
                </ul>
            </div>
        </div>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" ng-model="mainTest" type="text" id="sample3">
                        <label class="mdl-textfield__label" for="sample3">Text...</label>
                    </div>
                </form>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                <!-- Numeric Textfield with Floating Label -->
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" ng-model="mainTest" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                        <label class="mdl-textfield__label" for="sample4">Number...</label>
                        <span class="mdl-textfield__error">Input is not a number!</span>
                    </div>
                </form>
            </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
            <i class="material-icons">add</i>
        </button>
    </div>

    <div>

        <a ui-sref="home" ui-sref-active="active">Home</a>
        <a ui-sref="contact" >Contact</a>

        <ui-view></ui-view>
    </div>
</div>
<script src="app/lib.js"></script>
<script src="app/app.js"></script>
</body>
</html>