hello

<!--<div>-->
    <!--Loading... {{mainTest}}-->
<!--</div>-->
<!--<div>-->
    <!--<div class="mdl-grid">-->
        <!--<div class="mdl-cell mdl-cell&#45;&#45;6-col mdl-cell&#45;&#45;8-col-tablet">-->
            <!--&lt;!&ndash; Left aligned menu below button &ndash;&gt;-->
            <!--<button id="demo-menu-lower-left"-->
                    <!--class="mdl-button mdl-js-button mdl-button&#45;&#45;icon">-->
                <!--<i class="material-icons">more_vert</i>-->
            <!--</button>-->

            <!--<ul class="mdl-menu mdl-menu&#45;&#45;bottom-left mdl-js-menu mdl-js-ripple-effect"-->
                <!--for="demo-menu-lower-left">-->
                <!--<li class="mdl-menu__item">Some Action</li>-->
                <!--<li class="mdl-menu__item mdl-menu__item&#45;&#45;full-bleed-divider">Another Action</li>-->
                <!--<li disabled class="mdl-menu__item">Disabled Action</li>-->
                <!--<li class="mdl-menu__item">Yet Another Action</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="mdl-cell mdl-cell&#45;&#45;6-col mdl-cell&#45;&#45;8-col-tablet">-->
            <!--&lt;!&ndash; Right aligned menu below button &ndash;&gt;-->
            <!--<button id="demo-menu-lower-right"-->
                    <!--class="mdl-button mdl-js-button mdl-button&#45;&#45;icon">-->
                <!--<i class="material-icons">more_vert</i>-->
            <!--</button>-->

            <!--<ul class="mdl-menu mdl-menu&#45;&#45;bottom-right mdl-js-menu mdl-js-ripple-effect"-->
                <!--for="demo-menu-lower-right">-->
                <!--<li class="mdl-menu__item">Some Action</li>-->
                <!--<li class="mdl-menu__item">Another Action</li>-->
                <!--<li disabled class="mdl-menu__item">Disabled Action</li>-->
                <!--<li class="mdl-menu__item">Yet Another Action</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="mdl-grid">-->
        <!--<div class="mdl-cell mdl-cell&#45;&#45;6-col mdl-cell&#45;&#45;8-col-tablet">-->
            <!--<form action="#">-->
                <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                    <!--<input class="mdl-textfield__input" ng-model="mainTest" type="text" id="sample3">-->
                    <!--<label class="mdl-textfield__label" for="sample3">Text...</label>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!--<div class="mdl-cell mdl-cell&#45;&#45;6-col mdl-cell&#45;&#45;8-col-tablet">-->
            <!--&lt;!&ndash; Numeric Textfield with Floating Label &ndash;&gt;-->
            <!--<form action="#">-->
                <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                    <!--<input class="mdl-textfield__input" type="text" ng-model="mainTest" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">-->
                    <!--<label class="mdl-textfield__label" for="sample4">Number...</label>-->
                    <!--<span class="mdl-textfield__error">Input is not a number!</span>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
    <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-button&#45;&#45;colored">-->
        <!--<i class="material-icons">add</i>-->
    <!--</button>-->
<!--</div>-->