$blue: #0081ff;
$blue-inactive: #1e88e5;
$blue-active: #2196f3;
$blue-light: #bbeaff;
$ocean-blue: #5accff;
$gray-dark: #717171;
$gray-light: #aaa;
$sky: #eaeff3;
$text-gray: #93acb9;
$sky-dark: #315161;
$red-active:#f12612;
$darkred-active:#dd4b39;
$darkred-inactive:#772b22;
$darkred:#772b22;
$maincolor:#333;
